#top {
  background-image: url("../img/ping.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#mark {
  text-align: center;
  font-size: 50px;
}

#pingNum {
  width: 40%;
}

.col-3 {
  height: 100vh;
  background-color: coral;
}

#display li {
  list-style-type: circle;
}

#star {
  margin-left: 10px;
}

.container {
  background color: orange;
}
