#top {
  background-image: url("../img/ping.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#mark {
  text-align: center;
  font-size: 50px;
}

#pingNum {
  width: 40%;
}

.col-3 {
  height: 100vh;
  background-color: coral;
}

#star {
  margin-left: 10px;
  color: grey:
}

.container {
  background color: orange;
}

h4:hover{
  color: white;
}
button:hover{
  color:red;
}

#rice {
  background-image: url("../img/bg.jpeg");
}

h3{
  color:green;
}

h4{
  color:green;
}
